<div class="row">
    <div class="col-12">
        <form class="row g-3" method="post" action="/cases/save">
            {% csrf_token %}
            <input type="hidden" name="uuid" value="{{ case.uuid }}"/>

            <div class="col-12">
                <label for="caseTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="caseTitle" name="title">
            </div>
            <div class="col-md-4">
                <label for="caseState" class="form-label">State</label>
                <select id="caseState" class="form-select" name="state">
                    {% for state in case_states|dictsort:1 %}
                        <option value="{{ state.0 }}">{{ state.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="caseAssignedTo" class="form-label">Assigned To</label>
                <input type="text" class="form-control" id="caseAssignedTo" name="assigned_to">
            </div>
            <div class="col-md-4">
                <label for="caseReportedTo" class="form-label">Reported To</label>
                <input type="text" class="form-control" id="caseReportedTo" name="reported_to">
            </div>
            
            <div class="col-md-4">
                <label for="caseReportingPartner" class="form-label">Reporting Partner</label>
                <select id="caseReportingPartner" class="form-select" name="reporting_partner">
                    {% for partner in reporting_partner|dictsort:1 %}
                        <option value="{{ partner.0 }}">{{ partner.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="caseReportingReference" class="form-label">Reporting Reference</label>
                <input type="text" class="form-control" id="caseReportingReference" name="reporting_reference">
            </div>
            <div class="col-md-4">
                <label for="caseReportedTo" class="form-label">Reported To</label>
                <input type="text" class="form-control" id="caseReportedTo">
            </div>
            
            <div class="col-12">
                <h5>Notes</h5>
                <label class="form-label">Notes</label>
                <div class="notes border rounded p-1 mb-2" style="max-height: 200px; overflow-y:auto">
                    <div class="note pb-2">
                        <div class="text-muted" style="font-size: 70%">Dec 21, 2021</div>
                        This is a great idea. I think we should do more like this.
                    </div>
                </div>
                <label for="caseNoteNew" class="form-label sr-only">New Note</label>
                <textarea id="caseNoteNew" class="form-control" placeholder="Add a note..."></textarea>    
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>