{% extends "./base.html" %}

{% block body %}
    {% block main %}

<div class="row">
    <div class="mb-3"></div>
    
    {% if error_messages %}
        <div class="alert alert-primary" role="alert">
            <strong>Error: </strong>
            {% for error_message in error_messages %}
                <div>{{ error_message }}</div>
            {% endfor %}
            
        </div>
    {% endif %}

    <div class="fs-4">
        {% if case %}
            Modify Case
        {% else %}
            Create a New Case
        {% endif %}
    </div>
    <div class="col-12">
        <form class="row g-3" method="post" action="/cases/save">
            {% csrf_token %}
            <input type="hidden" name="uuid" value="{{ case.uuid }}"/>

            <div class="col-12">
                <label for="caseTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="caseTitle" name="title" value="{{ case.title|default:"" }}">
            </div>
            <div class="col-md-4">
                <label for="caseState" class="form-label">State</label>
                <select id="caseState" class="form-select" name="state">
                    {% for state in case_states|dictsort:1 %}
                        <option value="{{ state.0 }}" {% if case.state == state.0 %}selected{% endif %}>{{ state.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="caseAssignedTo" class="form-label">Assigned To</label>
                <input type="text" class="form-control" id="caseAssignedTo" name="assigned_to" value="{{ case.assigned_to|default:"" }}">
            </div>
            <div class="col-md-4">
                <label for="caseReportedTo" class="form-label">Reported To</label>
                <input type="text" class="form-control" id="caseReportedTo" name="reported_to" value="{{ case.reported_to|default:"" }}">
            </div>
            
            <div class="col-md-4">
                <label for="caseReportingPartner" class="form-label">Reporting Partner</label>
                <select id="caseReportingPartner" class="form-select" name="reporting_partner">
                    {% for partner in reporting_partner|dictsort:1 %}
                        <option value="{{ partner.0 }}" {% if partner.0 == case.reporting_partner %}selected{% endif %}>{{ partner.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="caseReportingReference" class="form-label">Reporting Reference</label>
                <input type="text" class="form-control" id="caseReportingReference" name="reporting_reference" value="{{ case.reporting_reference|default:"" }}">
            </div>
            <div class="col-md-4">
                <label for="caseReportedTo" class="form-label">Reported To</label>
                <input type="text" class="form-control" id="caseReportedTo" value="{{ case.reported_to|default:"" }}">
            </div>
            
            <div class="col-12">
                <h5>Notes</h5>
                <label class="form-label sr-only">Notes</label>
                {% if case.notes.all %}
                    <div class="notes border rounded p-1 mb-2" style="max-height: 200px; overflow-y:auto">
                        {% for note in case.notes.all %}
                            <div class="note">
                                <div class="note pb-2">
                                    <div class="float-start">
                                        <img src="{{ note.user.avatar_url }}" class="avatar-small"/>
                                    </div>
                                    <div class="text-muted" style="font-size: 70%">{{ note.created_dt }}</div>
                                    {{ note.text}}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <label for="caseNoteNew" class="form-label sr-only">Add a Note</label>
                <textarea id="caseNoteNew" class="form-control" placeholder="Add a note..."></textarea>    
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
    {% endblock %}
{% endblock %}
