{% extends "./base.html" %}

{% block body %}
    {% block main %}

<style>
    #filterCondition, #filterAction {
        font-family: 'Inconsolata', monospace;
    }
</style>

<div class="row">
    <div class="mb-3"></div>
    
    {% if error_messages %}
        <div class="alert alert-primary" role="alert">
            <strong>Error: </strong>
            {% for error_message in error_messages %}
                <div>{{ error_message }}</div>
            {% endfor %}
            
        </div>
    {% endif %}

    <div class="fs-4">
        {% if filter %}
            Modify Filter
        {% else %}
            Create a New Filter
        {% endif %}
    </div>
    <div class="col-12">
        <form class="row g-3" method="post" action="/filters/save">
            {% csrf_token %}
            <input type="hidden" name="filter_uuid" value="{{ filter.uuid }}"/>

            <div class="col-12">
                <label for="filterTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="filterTitle" name="title" value="{{ filter.title }}" required />
            </div>
            <div class="col-md-4">
                <label for="filterActive" class="form-label">Active</label>
                <select id="filterActive" class="form-select" name="active">
                    <option value="true"  {% if filter.active %}selected{% endif %}>Active</option>
                    <option value="false" {% if not filter.active %}selected{% endif %}>Inactive</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="filterPriority" class="form-label">Priority</label>
                <input type="number" class="form-control" id="filterPriority" name="priority" value="{{ filter.priority }}" required min="0" max="1000"/>
                <small id="filterPriority" class="form-text text-muted">0=highest priority, 1000=lowest priority</small>
            </div>            
            <div class="col-md-12">
                <label for="filterCondition" class="form-label">Condition</label>
                <div id="filterConditionDiv"></div>
                <textarea data-editor="python" data-gutter="6" id="filterCondition" style="opacity:0" rows="8" placeholder="Add a condition evaluator..." name="condition">{{ filter.condition }}</textarea>
            </div>
            <div class="col-md-12">
                <label for="filterAction" class="form-label">Action</label>
                <textarea data-editor="python" data-gutter="6" id="filterAction" style="opacity:0" rows="8" placeholder="Add an action to take..." name="action">{{ filter.action }}</textarea>
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary me-3"><i class="far fa-save me-2"></i>Save</button>
                <a id="delete_filter" class="btn btn-danger me-4" href="#"><i class="fas fa-trash me-2"></i>Delete</a>
                
            </div>
        </form>
    </div>
</div>

    {% endblock %}
{% endblock %}

{% block javascript %}

// Source: https://stackoverflow.com/a/19513428/1384352
// Hook up ACE editor to all textareas with data-editor attribute
$(function() {
    $('textarea[data-editor]').each(function() {
        var textarea = $(this);
        var mode = textarea.data('editor') || 'text';
        var editDiv = $('<div>', {
            position: 'absolute',
            width: '100%',
            height: textarea.height(),
        }).insertBefore(textarea);
        textarea.css('display', 'none');
        var editor = ace.edit(editDiv[0]);
        editor.setShowPrintMargin(false);
        editor.renderer.setShowGutter(textarea.data('gutter'));
        editor.getSession().setValue(textarea.val());
        editor.getSession().setMode("ace/mode/" + mode);
        editor.setOptions({
            'fontFamily': 'Inconsolata',
            'fontSize': localStorage.getItem('last-used-editor-font-size') || '1.1rem',
            tabSize: 2,
            useSoftTabs: true
        });    
        editor.setTheme("ace/theme/cobalt");

        // copy back to textarea on form submit...
        textarea.closest('form').on('submit', () => {
            textarea.val(editor.getSession().getValue());
        });
    });
    $('a#delete_filter').on('click', (e) => {
        e.preventDefault();
        if (confirm('Are you sure you want to delete this filter? This action cannot be undone.')) {
            $.ajax({
                url: '/filters/delete',
                type: 'POST',
                data: {
                    filter_uuid: '{{ filter.uuid }}'
                },
                success: function(data) {
                    window.location.href = '/filters';
                },
                error: function(data) {
                    alert('Error deleting filter: ' + data.responseText);
                }
            });
        }
    });
});
{% endblock javascript %}
