{% extends "./base.html" %}

{% block body %}
    {% block main %}
<style>
/* Remove the caret from dropdown triggers */
.dropdown-toggle::after {
    content: none;
}
/* Give file links a little color */
.jstree-proton .jstree-anchor {
    color: rgb(0, 0, 59);
}
/* Remove the scrollbar from the file listing */
#data::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

</style>
<div class="row">
    <div class="col-12 mt-4 mb-2">
        <div class="fs-2">
            {{ finding.title }}
            <span class="text-muted">#{{ finding.pk }}</span>
        </div>
    </div>
    <div id="file_listing" class="col-2 border-end">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button class="btn dropdown-toggle float-end" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i></button>
                <ul class="dropdown-menu dropdown-menu-end shadow">
                    <li>
                        <a class="dropdown-item" href="#"><i class="fas fa-download"></i>&nbsp;&nbsp;Download files</a>
                    </li>
                </ul>
                <p class="text-muted fw-bold mb-0">Files</p>
                <div id="data" class="pr-0 mt-0 w-100" style="overflow:auto; padding-right: 0;"></div>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <div class="card">
            <div id="editor" class="overflow-auto">{{ finding.get_source_code }}</div>
        </div>
    </div>
    <div class="col-2">
        <div class="text-end">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></button>
            <ul class="dropdown-menu dropdown-menu-end shadow ">
                <li><a class="dropdown-item" href="#">Auto-Triage Rules</a></li>
                <li><a class="dropdown-item" href="#">Compare Versions</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-file-export"></i>&nbsp;&nbsp;Export to SARIF</a></li>
                <li><a class="dropdown-item" href="#">Similar Findings</a></li>
                <li><a class="dropdown-item" href="#">Source Repository</a></li>
                <li><a class="dropdown-item" href="#">Watch</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/tool_defect/new?finding_uuid={{ finding.uuid }}"><i class="fas fa-bug"></i>&nbsp;&nbsp;New Tooling Bug</a></li>
                <li><a class="dropdown-item" href="https://slack.com"><i class="fab fa-slack"></i>&nbsp;&nbsp;Slack</a></li>
                <li><a class="dropdown-item" href="/findings/upload">Upload Findings</a></li>
            </ul>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pb-4 pt-4">
                <button class="btn dropdown-toggle float-end" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i></button>
                <ul class="dropdown-menu dropdown-menu-end shadow pt-0 pb-0" style="width: 280px; border:0">
                    <li class="list-group-item">
                        <strong>Choose an assignee</strong>
                    </li>
                    <li class="list-group-item">
                        <input type="text" list="assignee_list" class="form-control"/>
                        <datalist id="assignee_list">
                            {% for assignee in assignee_list %}
                                <option value="{{ assignee.username }}">{{ assignee.first_name }} {{ assignee.last_name }}</option>
                            {% endfor %}
                        </datalist>
                    </li>
                </ul>
                <p class="text-muted fw-bold">Assignee</p>
                {% if finding.assigned_to %}
                    <a href="#">{{ finding.assigned_to }}</a>
                {% else %}
                    No one&#8212;<a href="#">assign yourself</a>
                {% endif %}
            </li>
            
            <li class="list-group-item">
                <p class="text-muted fw-bold">True Positive</p>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" />
                    <label class="btn btn-outline-success" for="btnradio1">True</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
                    <label class="btn btn-outline-danger" for="btnradio2">False</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
                    <label class="btn btn-outline-info" for="btnradio3">???</label>
                  </div>
            </li>

            <li class="list-group-item">
                <p class="text-muted fw-bold">Severity</p>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio1a" autocomplete="off" />
                    <label class="btn btn-outline-success" for="btnradio1">1</label>
                  
                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio2a" autocomplete="off" />
                    <label class="btn btn-outline-danger" for="btnradio2">2</label>
                    
                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio3a" autocomplete="off" />
                    <label class="btn btn-outline-info" for="btnradio3">3</label>
                    
                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio4a" autocomplete="off" />
                    <label class="btn btn-outline-info" for="btnradio3">4</label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off" />
                    <label class="btn btn-outline-info" for="btnradio3">FP</label>
                  </div>
            </li>

            <li class="list-group-item">
                <div class="float-end"><a href="#"><i class="fas fa-cog"></i></a></div>
                <p class="text-muted fw-bold">Severity</p>
                <span class="badge rounded-pill bg-primary">{{ finding.get_severity_display }}</span>
            </li>

            <li class="list-group-item">
                <div class="float-end"><a href="#"><i class="fas fa-cog"></i></a></div>
                <p class="text-muted fw-bold">Impact</p>
                {% with impact=finding.get_impact_display %}
                    {% if impact == 0 %}
                        <span class="badge rounded-pill bg-info">Low ({{ impact }})</span>
                    {% elif impact < 1000 %}
                        <span class="badge rounded-pill bg-warning">Medium ({{ finding.get_impact_display }})</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger">High ({{ impact }})</span>
                    {% endif %}
                {% endwith %}
            </li>
            <li class="list-group-item">
                <div class="float-end"><a href="#"><i class="fas fa-cog"></i></a></div>
                <p class="text-muted fw-bold">Labels</p>
                {% for label in finding.labels %}
                    <span class="badge rounded-pill bg-secondary">{{ label }}</span>
                {% empty %}
                    No labels
                {% endfor %}
            </li>
            <li class="list-group-item">
                <p class="text-muted fw-bold">Notes</p>
                <textarea class="form-control w-100 h-100" style="min-height: 150px" placeholder="Add a quick note..."></textarea>
            </li>            
            <li class="list-group-item">
                
            </li>
        </ul>
    </div>
</div>
    {% endblock main %}
{% endblock body %}

{% block javascript %}
    /* Stash some page-level data */
    $.data(document.body, 'current_finding', {
        'finding_uuid': '{{ finding.uuid }}',
        'scan_uuid': '{{ finding.scan.uuid }}'
    });
    /* Handle clicks of the "New Tool Finding" button */
    $('#action_new_tooling_bug').on('click', (e) => {
        let finding_uuid = $('#finding_list').data('finding_uuid');
        if (finding_uuid !== undefined) {
            document.location.href = `/tool_defect/new?finding_uuid=${finding_uuid}`;
        }
    });
    $(document).ready(() => {
        load_file_listing({"finding_uuid": "{{ finding.uuid }}"});
        
        load_source_code({
            'scan_uuid': "{{ finding.scan.uuid }}",
            'file_path': "{{ finding.file_path }}"
        });
        
        /* Resize the file and editor */
        $(window).on('resize', (e) => {
            $('#editor').css('height', $(window).height() - $('#editor').offset().top - 10);
            $('#data').css('height', $(window).height() - $('#data').offset().top - 10);
        });
        $(window).trigger('resize');
    });
{% endblock %}